.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5.75rem 27.625rem 0 9.25rem;
}
    
@media all and (min-width: 1024px) and (max-width: 1279px) {
    .description{
        padding: 5.75rem 17.875rem 0 3rem;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .description {
        padding: 5.75rem 1.5rem 0 1.5rem;
    }
}

@media all and (max-width: 767px) {
    .description{
        padding: 5.75rem 1rem 0 1em;
    }
}
    
