.header__links {
    display: flex;
    margin-right: 3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
    align-items: center;
}

@media all and (max-width: 767px) {
    .header__links {
        font-size: 1.125rem;
        line-height: 1.25rem;
    }
}