.cover__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 35rem;
    text-decoration: none;
    color: white;
    z-index: 2;
}


@media all and (max-width: 767px) {
    .cover__description {
        width: 18rem;
    }
}
