.travels__text {
    min-width: 9.9375rem;
    min-height: 0.875rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.625rem;
    line-height: 0.875rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    align-self: start;
}


@media all and (max-width: 1023px) {
    .travels__text {
        margin: 0.5rem 1.5rem;
    }
}
