.travels__text {
    font-style: normal;
    font-size: 0.625rem;
    line-height: 0.875rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    align-self: start;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .travels__text {
        margin: 0.5rem 0 0 1.5rem;
    }
}

@media all and (max-width: 767px) {
    .travels__text {
        margin: 0.5rem 0 0 1rem;
    }
}

