.header__link {
    color: white;
    margin-right: 1.125rem;
}

.header__link:last-of-type {
    margin-right: 0;
}

@media all and (max-width: 767px) {
    .header__link {
        width: 1.375rem;
        height: 1.25rem;
    }
}