.cards__item {
    display: grid;
    grid-template-rows: repeat(min-content, 2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.75rem;
    row-gap: 3rem;
    column-gap: 2.5rem;
    margin-top: 5rem;
} 

.cards__item:first-child {
    margin:0
}