.cards__link-title {
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin: 0;
}

@media all and (max-width: 767px) {
    .cards__link-title {
        display: none;
    }
}