.description__title {
    width: 43.125rem;
    height: 3.625rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.625rem;
    margin: 0;
}