/* @font-face {
    src: url('путь к файлу полужирного курсива');
    font-family: 'Inter';
}  */

.root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #2A2C2F;
}

* {
    box-sizing: border-box;
}