.root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2A2C2F;
}

* {
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}