.baikal__subtitle {
    width: 22.5rem;
    height: 4.125rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-align: center;
    margin: 2rem 0 0 0;
}

@media all and (max-width: 767px) {
    .baikal__subtitle {
        width: 18rem;
        height: 3rem;
        font-size: 0.875rem;
        line-height: 1rem;
        margin: 1rem 0 0 0
    }
}
