.cards__link {
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-decoration-line: underline;
    margin-top: 0.75rem;
    color: white;
    text-decoration: underline;
}

.cards__link:hover {
    opacity: 0.8;
}

@media all and (max-width: 767px) {
    .cards__link {
        display: none;
    }
}