.description__subtitle {
    max-width: 43.125rem;
    max-height: 13.0625rem;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 163%;
    margin: 2.5rem 0 2rem 0;
}