.footer {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5.75rem 3rem 1.5rem 3rem;
    min-height: 1.125rem;
}

@media all and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: 4rem 7.375rem 1.5rem 1rem;
    }
} 
